{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Judson:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/menu.js' %}"></script>

    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <ul>
          <li class="active">
            <a href="{% url 'index' %}">Accueil</a>
          </li>
          <li>
            <a href="{% url 'aide' %}">Aide</a>
          </li>
          <li> <a href="Connexion.html" class="action_btn">Connexion</a></li>
        </ul>
      </div>
    </header>
  </body>
</html>